#################
## Misc
#################
node_modules/
npm-debug.log
*.ts
!*.d.ts
test/
src/
!*.metadata.json
!dist/*.js
!bin/*

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store